@import './variable.css';

.wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
}

.input {
  width: 100%;
  padding: 8px 40px 8px 8px;
  font-size: 16px;
  box-sizing: border-box; 
}

.inputError {
  border: 1px solid var(--danger-color);
}

.eyeIcon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  color: var(--eye-color);
  font-size: 18px;
}

.error {
  color: var(--danger-color);
  font-size: 14px;
  margin-top: 4px;
}
